$primary:hsl(205.4, 48.5%, 44.9%);
$secondary:hsl(24, 100%, 50%);
$gray:hsl(0, 0%, 93%);
$green:hsl(128.8, 100%, 28%);
$charcoal: hsl(0, 0%, 20%);
$dark-gray:hsl(0, 0%, 28%);
$havelock-blue: hsl(205, 61%, 60%);

$hero-height-home:800px;
$hero-height:600px;
$title-font: 2.25rem;
$sub-title: 1.875rem;
