@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_variables";

.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-gray {
  background-color: $gray;
}
.bg-havelock-blue {
  background-color: $havelock-blue;
}


// .title-font {
//   font-size: $title-font;
// }
// .sub-title {
//   font-size: $sub-title;
// }
// .Stars {
//   --percent: calc(var(rating) / 5 * 100%);

//   display: inline-block;
//   font-size: var(--star-size);
//   font-family: Times; // make sure ★ appears correctly
//   line-height: 1;

//   &::before {
//     content: "★★★★★";
//     letter-spacing: 3px;
//     background: linear-gradient(
//       90deg,
//       var(--star-background) var(--percent),
//       var(--star-color) var(--percent)
//     );
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }


