.social__container {
    margin:0;
    padding:0;
}

.social__container .row {
    margin:0;
    padding:0;
    width:100%;
}

.social__container .social__links .social_link a {
    display:block;
    padding:0;
    margin:0;
    width:20px;
}
